table {
    border: solid 1px black;
    width: 100%;
   margin-bottom: 10mm;
}

th {
    width: 200px;
    border: solid 1px palevioletred;
}

td {
    width: 200px;
    border: solid 1px palevioletred;
    text-align: center;
    height: 10px;
}

h1 {
    
    text-align: center;
    margin: 15px;
    
}

a {
    display: block;
    text-align: center;
}

.logo {
    width: 200px;
    height: 80px;
    text-align: center;
    margin: 0%;
    
}

h3 {
    text-align: right;
    margin: 0%;
    color: rgb(110, 110, 110);
}

h5 {
    text-align: right;
    margin: 0%;
}

div {
    text-align: center;
}

img {
    width: 230px;
    height: 200px;
}


.오픈{
    background-color: rgb(221, 244, 244);
}

.자바{
    background-color: bisque;
}

.라가{
    background-color: rgb(224, 224, 224);
}

.컴활{
    background-color: rgb(234, 255, 245);
}

.이산{
    background-color: darksalmon;
}

.프론{
    background-color: rgb(230, 236, 218);
}

.데베{
    background-color: rgb(254, 223, 228);
}

.JV {
    background-color: antiquewhite;
    color: green;
}

th {
    background-color: rgba(239, 239, 239, 0.733);
}

.th1{
    background-color: white;
}

.td{
    background-color: rgba(239, 239, 239, 0.733);
}

.h1font{
    font-family: Verdana, Geneva, Arial, sans-serif;
}
