table {
    border: solid 1px black;
    width: 100%;
    margin-bottom: 100px;
}

th {
    width: 200px;
    border: solid 1px palevioletred;
}

td {
    width: 200px;
    border: solid 1px palevioletred;
    text-align: center;
    height: 10px;
}

h1 {
    text-align: center;
    margin: 5px;
}

a {
    display: block;
    text-align: center;
}

.logo {
    width: 300px;
    text-align: center;
    margin: 0%;
}

h3 {
    text-align: right;
    margin: 0%;
    color: blue;
}

h5 {
    text-align: right;
    margin: 0%;
}

div {
    text-align: center;
}

img {
    width: 230px;
    height: 200px;
}


.오픈{
    background-color: aqua;
}

.자바{
    background-color: bisque;
}

.라가{
    background-color: cadetblue;
}

.컴활{
    background-color: darkgray;
}

.이산{
    background-color: darksalmon;
}

.프론{
    background-color: whitesmoke;
}

.데베{
    background-color: pink;
}

.JV {
    background-color: antiquewhite;
    color: green;
}

th {
    background-color:rgb(236, 225, 249);
}

.th1{
    background-color: white;
}