table {
    border: solid 1px black;
    width: 100%;
}

th {
    width: 200px;
    border: solid 1px palevioletred;
}

td {
    width: 200px;
    border: solid 1px palevioletred;
    text-align: center;
    height: 10px;
}

h1 {
    text-align: center;
    margin: 5px;
}

h3 {
    text-align: right;
    margin: 0%;
    color: blue;
}

h5 {
    text-align: right;
    margin: 0%;
}

div {
    text-align: center;
}

img {
    width: 250px;
    height: 200px;
}

.오픈{
    background-color: aqua;
}

.자바{
    background-color: bisque;
}

.라가{
    background-color: cadetblue;
}

.컴활{
    background-color: darkgray;
}

.이산{
    background-color: darksalmon;
}

.프론{
    background-color: greenyellow;
}

.데베{
    background-color: pink;
}
